$l-gridGutter: 0.5em;
.l-grid {
	@include inuit-clearfix;

	&__col {
		float: left;
	}

	display: flex;
	flex-wrap: wrap;
}

.l-col-1-2 {
	width: 50%;
	padding-bottom: $l-gridGutter;

	&:nth-child(2n+1) {
		padding-right: $l-gridGutter/2;
	}

	&:nth-child(2n) {
		padding-left: $l-gridGutter/2;
	}
}