.l-snakeGrid {
		
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: 33%;
		overflow: hidden;
	}
}

@supports(display: grid) {

	.l-snakeGrid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
	
		&__item {
			width: 100%;

			&:nth-child(12n+1) {
				grid-column-end: span 2;
				grid-row-end: span 2;
			}

			&:nth-child(12n+8) {
				grid-column-end: span 2;
				grid-row-end: span 2;
			} 
		}
	}
}