.rp-LetteredHeading-looking::before {
    padding-top: 56.80154142581888%;
}

.rp-LetteredHeading-looking .rp-LetteredHeading__picture {
    background-image: url(assets/images/headings/me.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 49.96092265943012%;
    width: 28.378574181117532%;
    top: 50.03909090909091%;
    left: 71.62143352601156%;
}

.rp-LetteredHeading-looking .rp-LetteredHeading__looking {
    background-image: url(assets/images/headings/looking-for/Looking@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 65.73948439620081%;
    width: 73.5645472061657%;
    top: 7.192374491180462%;
    left: 3.546408477842004%;
}

.rp-LetteredHeading-looking .rp-LetteredHeading__you {
    background-image: url(assets/images/headings/looking-for/YOU@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 27.54409769335143%;
    width: 17.6878612716763%;
    top: 0%;
    left: 25.202763005780348%;
    z-index: 1;
}

.rp-LetteredHeading-looking .rp-LetteredHeading__were {
    background-image: url(assets/images/headings/looking-for/were@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 27.815468113975577%;
    width: 19.4990366088632%;
    top: 6.376146540027136%;
    left: 46.74644701348748%;
    z-index: 1;
}

.rp-LetteredHeading-looking .rp-LetteredHeading__for {
    background-image: url(assets/images/headings/looking-for/FOR@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 33.37856173677069%;
    width: 23.352601156069362%;
    top: 44.640434192673%;
    left: 14.758851637764932%;
}