.rp-LetteredHeading-prints::before {
    padding-top: 67.1290944123314%;
}

.rp-LetteredHeading-prints .rp-LetteredHeading__me {
    background-image: url(assets/images/headings/me.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 42.274626865671635%;
    width: 28.378574181117532%;
    top: 57.6965671641791%;
    left: 71.62143352601156%;
    transform-origin: top left;
}

.rp-LetteredHeading-prints .rp-LetteredHeading__prints {
    background-image: url(assets/images/headings/prints/Prints@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 63.43283582089553%;
    width: 72.40847784200385%;
    top: 10.648737083811712%;
    left: 8.805506743737958%;
}

.rp-LetteredHeading-prints .rp-LetteredHeading__for {
    background-image: url(assets/images/headings/prints/For@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 29.908151549942595%;
    width: 25.741811175337187%;
    top: 0.028760045924225028%;
    left: 35.763036608863196%;
    z-index: 1;
    
}

.rp-LetteredHeading-prints .rp-LetteredHeading__ {
    background-image: url(assets/images/headings/prints/&@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25.37313432835821%;
    width: 19.344894026974952%;
    top: 46.35638920780711%;
    left: 0.9442350674373795%;
    animation-duration: $a-duration;
    animation-delay: $a-delay-m;
}

.rp-LetteredHeading-prints .rp-LetteredHeading__illustration {
    background-image: url(assets/images/headings/prints/Illustration@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 33.524684270952925%;
    width: 53.333333333333336%;
    top: 57.69662456946038%;
    left: 12.255275529865125%;
    animation-duration: $a-duration-quick;
    animation-delay: $a-delay-l;
}