.rp-LetteredHeading-read::before {
    padding-top: 66.39676300578034%;
}

.rp-LetteredHeading-read .rp-LetteredHeading__picture {
    background-image: url(assets/images/headings/me.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 42.740900152989326%;
    width: 28.378574181117532%;
    top: 57.25911725854268%;
    left: 71.62143352601156%;
}

.rp-LetteredHeading-read .rp-LetteredHeading__read {
    background-image: url(assets/images/headings/read/Read@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 69.64612802351253%;
    width: 69.94219653179191%;
    top: 12.594341484251851%;
    left: 8.32509055876686%;
}

.rp-LetteredHeading-read .rp-LetteredHeading__or {
    background-image: url(assets/images/headings/read/or@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25.885144248738822%;
    width: 21.734104046242773%;
    top: 0%;
    left: 19.0366859344894%;
    z-index: 1;
}

.rp-LetteredHeading-read .rp-LetteredHeading__haveA {
    background-image: url(assets/images/headings/read/HAVE-A@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 28.787066249718514%;
    width: 26.628131021194605%;
    top: 4.81481094558548%;
    left: 42.73603082851638%;
    z-index: 1;
}

.rp-LetteredHeading-read .rp-LetteredHeading__about {
    background-image: url(assets/images/headings/read/about@0.2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 33.488179891305606%;
    width: 30.211946050096337%;
    top: 60.363378672962675%;
    left: 19.78801541425819%;
    transform: rotate(0rad);
    transform-origin: top left;
}