.rp-ContactEmail {
	@include typo-display;
	text-transform: uppercase;
	font-size: 1.3em;
	line-height: 3rem;
	text-align: center;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
}

.wpcf7-response-output.wpcf7-response-output {
  order: -1;
  margin: 0;
  margin-bottom: 2em;
  padding: 1em;
}

.wpcf7-validation-errors.wpcf7-validation-errors,
.wpcf7-mail-sent-ng.wpcf7-mail-sent-ng {
  color: $rp-orange-dark-8;
  border-color: $rp-orange;
}

// Need to bump specificity to override default styling :(
.wpcf7-not-valid-tip.wpcf7-not-valid-tip {
  color: $rp-orange-dark-8;
  @include typo-copy;
  text-transform: none;
}

.wpcf7-mail-sent-ok.wpcf7-mail-sent-ok {
  color: #FFF7E7;
  background-color: #4AB0AA;
  border: none;
}

.wpcf7.wpcf7 .ajax-loader.is-active {
  display: none;
}

.wpcf7-form label {
  @extend .rp-Label;
}

.wpcf7-form-control {
  @extend .rp-Input;
  // Ensures the form take all available space
  display: block;
  width: 100%;
}
.wpcf7-submit {
  @extend .rp-Button;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}