.rp-Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include typo-display;
  text-transform: uppercase;
  line-height: 3em;
  padding: 0 1em;

  top: 0;
  left: 0;
  width: 100%;
  z-index: $above-1;

  .home & {
    position: absolute;
  }

  .home &,
  .blog &,
  .page-template-page-happy-to-chat &,
  .page-template-page-giveaway &,
  .archive &,
  .single-artwork &,
  .error404 & {
    @include mq($from: archiveOnTwoColumns) {
      position: fixed;
    }
  }
}

.rp-BreadcrumbNav {

  width: 100%;
  // Horizontal layout for the children
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  color: $rp-orange-dark-8;
}

.rp-BreadcrumbNavItems {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: visible;
  padding-right: 0.5em;

  .rp-BreadcrumbLink {
    padding-left:0.5em;
  }

  
}
.rp-BreadcrumbNavItems .rp-BreadcrumbLink:hover,
.rp-CollapsedItemsMenuToggle:hover {
    text-decoration: none;

    .rp-BreadcrumbLink__title {
      text-decoration: underline;    
    }
  }

.rp-BreadcrumbNavItems .rp-BreadcrumbLinkSeparator::before,
.rp-CollapsedItemsMenuToggle .rp-BreadcrumbLinkSeparator::before {
  content: '>';
  padding-right: 0.5em;
  font-style: normal;
  color: $rp-navy;
}

.rp-BreadcrumbLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;

  padding: 0 0.5em;
}

.rp-CollapsedItemsMenu:not(.has-items) {
  display: none;
}

.rp-CollapsedItems {
  position: fixed;
  background-color: $rp-light-fade-10;
  border-radius: 5px;

  &::before {
    content: '';
    display: block;
    
    border: solid 0.5em transparent;
    border-bottom-color: $rp-light-fade-10;

    position: absolute;
    top: -1em;
    left: 1.6em;
  }

  &:not(.is-visible) {
    display:none;
  }
}

.rp-CollapsedItemsMenuToggle {
  cursor: pointer;
}

.rp-MenuToggle {
  display: block;
  padding: 0 0.5em;
}



.rp-MenuContainer {
  padding-top: 1em;

  background-color: $rp-light-fade-10;
  @include typo-display;
  text-transform: uppercase;
  z-index: $above-1;

  @include overlay;
  width: 80%;
  @include overlay-rightPanel(15em);

  overflow: auto;

  .admin-bar & {
    height: calc(100vh - 32px);
  }

  transform: translate3d(100%, 0 ,0);
  transition: transform 0.3s;

  &:target,
  &.is-visible {
    transform: translate3d(0, 0 ,0);
  }
}

.rp-MainNav {
  margin-left: auto;
}

.rp-Menu,
.rp-Menu ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item,
.page_item {
  list-style-type: none;
  text-indent: 1em;
  padding-right: 0.5em;

  a {
    display:block;
  }

  .sub-menu & {
    text-indent: 2em;
  }
}

.current-menu-item:not(.current-menu-parent)>a {
  border-left: solid 6px $rp-orange;
}

.rp-Legal {
  text-align: center;
  display: block;
  line-height: 1.3;
}