.rp-ShareLinkList {
	padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
$shareLink-size: $circleButtonSize;
.rp-ShareLink {
	background-color: grey;
	color: white;
	display: inline-block;

	border-radius: 9999px;
	background-position: center;
	background-repeat: no-repeat;

	height: $shareLink-size;
	width: $shareLink-size;
	overflow:hidden;

	&::before {
		content: '';
		display: block;
		height: $shareLink-size;
		width: $shareLink-size;
	}

	background-size: 50%;

	a, a:hover {
		color: inherit;
	}
}

.rp-ShareLink-facebook {
	background-color: #3B5998;
	background-image: svg-load('node_modules/simple-icons/icons/facebook.svg', fill=#fff);
	background-size: 42%;
}

.rp-ShareLink-twitter {
	background-color: #1DA1F2;
	background-image: svg-load('node_modules/simple-icons/icons/twitter.svg', fill=#fff);
	background-size: 47%;
}

.rp-ShareLink-pinterest {
	background-color: #BD081C;
	background-image: svg-load('node_modules/simple-icons/icons/pinterest.svg', fill=#fff);	
}

.rp-ShareLink-dribbble {
	background-color: #EA4C89;
	background-image: svg-load('node_modules/simple-icons/icons/dribbble.svg', fill=#fff);
	background-size: 47%;
}

.rp-ShareLink-instagram {
	background-color: #E4405F;
	background-image: svg-load('node_modules/simple-icons/icons/instagram.svg', fill=#fff);
	background-size: 48%;
}

.rp-ShareLink-github {
	background-color: #181717;
	background-image: svg-load('node_modules/simple-icons/icons/github.svg', fill=#fff);
	background-size: 53%;
}

.rp-ShareLink-linkedin {
	background-color: #0077B5;
	background-image: svg-load('node_modules/simple-icons/icons/linkedin.svg', fill=#fff);
	background-size: 45%;
}

.rp-ShareLink-behance {
	background-color: #1769FF;
	background-image: svg-load('node_modules/simple-icons/icons/behance.svg', fill=#fff);
}