// 1. Settings
// 1.1 Colors
$rp-yellow: #ffc543;
$rp-light: #fff7e7;
$rp-light-fade-10: fade-out($rp-light, 0.1);
$rp-blue: #4ab0aa;
$rp-orange: #ff742e;
$rp-orange-dark-8: darken($rp-orange, 8%);
$rp-navy: #022950;
$rp-orange-on-yellow-50: mix($rp-orange,$rp-yellow, 50%);
$rp-light-on-yellow-50: mix($rp-light, $rp-yellow, 50%);
$rp-navy-on-yellow-20: mix($rp-navy, $rp-yellow, 20%);
$rp-navy-on-yellow-80: mix($rp-navy, $rp-yellow, 80%);
// 1.2 Typo
@font-face {
  font-family: Open Sans;
  src:
    url("assets/fonts/OpenSans-Semibold.woff2") format("woff2"),
    url("assets/fonts/OpenSans-Semibold.woff") format("woff");
}
$rp-ff-copy: 'Open Sans', sans-serif;
@font-face {
  font-family: Montserrat;
  src:
    url("assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("assets/fonts/Montserrat-Bold.woff") format("woff");
}
$rp-ff-display: 'Montserrat', sans-serif;

$rp-lineHeight: 1.5;

// 1.3 Breakpoints
$mq-breakpoints: (
  showHomeMenu: 34em,
  archiveOnTwoColumns: 58em
);

// 1.4 Layout variables
$headerHeight: 3em;
$circleButtonSize: 2.6em;

// 1.5 Z-indices
$above-1: 25;

// 2. Tools
@import "../node_modules/sass-mq/_mq.scss";
@import "../node_modules/inuitcss/tools/_tools.hidden.scss";
.t-hidden-visually {
  @include inuit-hidden-visually;
}

@import "../node_modules/inuitcss/tools/_tools.clearfix.scss";
// 2.1 Color combinations
@mixin navy-on-yellow {
	background-color: $rp-yellow;
	color: $rp-navy;
}

// 2.2 Typo
@mixin typo-copy {
	font-family: $rp-ff-copy;
	font-weight: normal;
}

.t-typo-copy {
  @include typo-copy;
}

@mixin typo-display {
	font-family: $rp-ff-display;
  font-weight: normal;
}

.t-typo-display {
  @include typo-display;
}


@mixin overlay {
  position: fixed;
}

@mixin overlay-rightPanel($max-width: 40%) {
  top: 0; 
  right: 0; 
  bottom: 0; 

  max-width: $max-width;
}

// 2.3 - Layouts
@import 'tools/_f-strip-units.scss';
@import 'tools/_l-grid';
@import 'tools/_l-snakeGrid';
@import 'tools/_l-oneAndTwo';
@import 'tools/_l-sideBySide';

.l-vertCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &>* {
    // Aim is just to positiong things in the middle, not to shrink things
    flex: none;
    // Due to some children having no intrinsic width (headings positionned absolutely, aspect ratio with images...)
    width: 100%;
  }
}

@import 'tools/_viewportScalingFontSize';
@import 'tools/_u-animations';

// 3. Generic
// @import '../node_modules/normalize.css/normalize';

// 4. Base

// 4.1 Reset classes
.rp-Button-naked {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit
}
// 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
	@include navy-on-yellow;
	@include typo-copy;
  line-height: $rp-lineHeight;
  background-image: url(assets/images/background-s.jpg);
}

a,
.rp-Link {
  // Use a slighlty darker shade of orange
  // to compensate for the thin letters on light background
	color: $rp-orange-dark-8;
	text-decoration: none;
  cursor: pointer;
  /* Try this out, maybe enlarging it on hover
  background-image: linear-gradient(90deg, $rp-orange, $rp-orange);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  */

	&:hover {
		text-decoration: underline;
	}
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

p, ul, ol, dl {
  margin-top:0;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include typo-display;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

@import '_loading';

.u-c-inh {
  color:inherit;
}

.u-d-b {
  display: block;
}

.u-d-flx {
  &-l {
    @include mq($from: showHomeMenu) {
      display: flex;
    }
  }
}

.u-ta-c {
  text-align: center;
}

.u-c-orange {
  color: $rp-orange;
}

.u-ord-first {
  order: -9999;
  &-l {
    @include mq($from: showHomeMenu) {
      order: -9999;
    }
  }
}

.u-ord-last {
  order: 9999;
  &-l {
    @include mq($from: showHomeMenu) {
      order: 9999;    
    }
  }
}

.u-fl-auto {
  flex: auto;
}

.u-fl-none {
  flex: none;
}

.u-flai-c {
  align-items: center;
}

.u-flas-start {
  align-self: start;
}

.u-h-100vh {
  height: 100vh;
}

.u-mh-100vh {
  
  min-height: 100vh;

  &-xl {
    @include mq($from: archiveOnTwoColumns) {
      min-height: 100vh;
    }
  }
}

.u-mw-30em {

  max-width: 30em;
  margin-left: auto;
  margin-right: auto;

  // Constrains the content so that text doesn't span too wide
  &-xl-down {
    @include mq($until: archiveOnTwoColumns) {
      max-width: 30em;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.u-mw-15-xl {
  @include mq($from: archiveOnTwoColumns) {
    max-width: 15em;
  }
}

.u-mw-35-xl {
  @include mq($from: archiveOnTwoColumns) {
    max-width: 35em;
  }
}

.u-mw-48 {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

.u-mb-0 {
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.u-mb-1:not(:last-child) {
  margin-bottom: 1em;
}

.u-mb-2:not(:last-child) {
  margin-bottom: 2em;
}

.u-mb-10:not(:last-child) {
  margin-bottom: 10em;
}

.u-show {
  
  &-l {
    @include mq($until: showHomeMenu) {
      display: none;
    }
  }

  &-xl {
    @include mq($until: archiveOnTwoColumns) {
      display: none;
    }
  }
}

.u-hide {

  &-l {
    @include mq($from: showHomeMenu) {
      display: none;
    }
  }

  &-xl {
    @include mq($from: archiveOnTwoColumns) {
      display: none;
    }
  }
}

.u-list-flat {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.u-ofx-h {
  overflow-x: hidden;
}

.u-clearfix {
  @include inuit-clearfix;
}

.u-flt-right {
  float: right;
}

.rp-List-reset {
  padding: 0;
  list-style-type: none;
}

.u-vgap-1em {
  &>*:not(:last-child) {
    margin-bottom: 1em;
  }
}

.u-vgap-2em {
  &>*:not(:last-child) {
    margin-bottom: 2em;
  }
}

.u-vgap-firstLarge {
  >*:first-child:not(:last-child) {
    margin-bottom: 2em;

    @include mq($from: archiveOnTwoColumns) {
        margin-bottom: 3vw;
    }
  }
}

// 4.5 Wordpress style adjustments
.gallery-item img {
  width: 100%;
  display: block;
}

@import 'node_modules/inuitcss/objects/_objects.ratio';

// 5. Components
.rp-Logo {
  flex: none;
  width: 2em;
  align-self: center;
  position: relative;
  top: -0.1em;

  &>img {
    display: block;
  }
}

.rp-NavLogo {
    display: block;
  
  &>img {
    display:block;
    margin:auto;
    width:3em;
    transition: opacity 0.5s;
  }

  &::after {
    content:'';
    position:absolute;
    top: 1em;
    left: 50%;
    height: 3em;
    background: red;
    width: 3em;
    transform:translateX(-50%);
    background:url(assets/images/rp_144.png);
    background-size:100%;
    opacity:0;
    transition: opacity 0.5s;
  }
  
  &:hover {
    &>img {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

}


.rp-Viewport {
  padding: 1em;

  .home &{
    // Elements have enough space they don't need more at the bottom
    padding-bottom: 0;
  }
}

.rp-ProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: $rp-orange;
}

.rp-AsideHeading {
  margin: 0 0 0.25em;
  font-size: 1.25em;
}

.rp-AsideSection {
  padding-top: 1em;
  border-top: $rp-navy-on-yellow-20 solid 2px;
}

.rp-AccessKeyHint {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: #ff5905;
  color: white;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  
  transition: opacity 0.5s;
  opacity: 0;

  a:hover & {
    opacity: 1;
  }
}

.rp-Content {
  max-width: 41em;
  margin: auto;
}

.rp-Announcement {
  display: block;
  border: solid 3px $rp-orange;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.rp-PrevNextNav {
  @include inuit-clearfix;

  &__previous {
    float: left;
  }

  &__next {
    float: right;
  }
}

$prevNextLinkSize: $circleButtonSize;
.rp-PrevNextLink {
  height: $prevNextLinkSize;
  width: $prevNextLinkSize;
  overflow: hidden;
  background: $rp-orange;
  color: $rp-light;
  display: inline-block;
  border-radius: 9999px;
  position: relative;
  &::before {
    content: '';
    height: 100%;
    display: block;
    text-align: center;
    line-height: $prevNextLinkSize;
  }

  &-disabled {
    background-color: $rp-orange-on-yellow-50;
    color: $rp-light-on-yellow-50;
  }

  &-prev::before {
    content: '<';
  }

  &-next::before {
    content: '>';
  }
}

.rp-PostLink:hover {
  text-decoration:none;
}

.rp-PostListItem {
  // transition: transform 0.3s;
  will-change: true;
}

.rp-PostListItem:hover{
  transform: scale(1.05);
  z-index:25;
}

// Forms
.rp-Label {
  @include typo-display;
  text-transform: uppercase;
}

.rp-Input {
  border: none;
  border-bottom: solid 2px #FF742E;
  @include typo-copy;
  font-size: inherit;
  color: $rp-navy;
  background-color: fade-out($rp-light, 0.5);
  padding: 0 0.5em;
  line-height: 2;
}

.rp-Button {
  background-color: $rp-orange;
  color: $rp-light;
  text-transform: uppercase;
  border: none;
  @include typo-display;
  font-size: inherit;
  line-height: 2;
  padding: 0 0.5em;
}

.rp-Form-oneLine {
  display: flex;
  flex-wrap: nowrap;
}

// wpcf-7


// Headings
@import '_headings';
@import '_shareLinks';
@import '_homeMenu';
@import '_home';
@import '_header';
@import '_contact';
@import '_blog';
@import '_artworks';
@import '_single-project';
@import '_collapsible';

.rp-GiveawayCTAs {
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 0;
  }

  &::before {
    content: 'AND';
    text-align: center;
    line-height: 2;
    font-weight: bold;
    background-image: linear-gradient(90deg, 
      currentColor calc(50% - 1.5em), 
      transparent calc(50% - 1.5em), 
      transparent calc(50% + 1.5em), 
      currentColor calc(50% + 1.5em));
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rp-TwitterCTA {
  background: $rp-orange;
  color: white;
  line-height: 3;
  text-align: center;
  display: block;
}

// Article demos
.o-ratio > .rp-OrientableFrame {
  width: 100%;
  height:60%;
  top:20%;
  bottom:20%;
  left: 0;
  right: 0;
  border: solid 2px currentColor;
}

.o-ratio > .rp-OrientableFrame-portrait {
  width: 60%;
  height:100%;
  top:0;
  bottom: 0;
  left: 20%;
  right: 20%;
}

// Bug fixes
.flexbug3Wrapper {
  display: flex;
  flex-direction: column;
}



